@import './colors.css';

:root {
   --breakpoint-xs: 0px;
   --breakpoint-sm: 640px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 1024px;
   --breakpoint-xl: 1280px;
   --breakpoint-2xl: 1536px;

   --container-padding-mobile: 15px;
   --container-padding-tablet: 15px;
   --container-padding-desktop: 15px;

   --text: var(--color-gray-900);
   --bg: #f3f3f3;
   --border: var(--color-gray-300);
   --border-hover: var(--color-gray-400);
   --border-focus: var(--color-gray-400);
   --border-disabled: var(--color-gray-200);

}
:root {
   --primary: var(--color-primary);
   --secondary: var(--color-secondary);
}


