:root {
  --card-bg: #d9d9d9;
  --card-text: var(--text);
  --card-border: var(--border);
  --card-shadow: var(--shadow);
}
.card {
  background-color: var(--card-bg);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.title {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}
.description {
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.image {
}
.chapters {
}
.hiddendiv {
  display: none;
}
.imageHidden {
  width: 100%;
  max-width: 300px;
  height: 250px;
}
.ganre {
}
.description {
}
